.heading {
  margin: 1rem;
  align-items: center;
  display: flex;
}

#contact h2 {
  margin: 10px;
  color: rgba(0, 0, 0, 0.973);
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  font-weight: 400;
}

#contact h2 span {
  color: #ff9100;
}

.icon_contact {
  font-size: 3rem;
  margin-right: 1rem;
}

.contact__para {
  margin: 18px;
  font-size: 20px;
}

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
}

.contact button.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: #ff9100;
  color: #ffffff;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  height: 450px;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact-mymap {
  width: 100%;
  height: 450px;
  border-radius: 12px;

  border-style: hidden;
}
.contact-map {
  margin: 1rem;
}

.wrapper {
  display: flex;
  padding: 0;
  justify-content: center;
  /* list-style: none; */
  /* justify-content: space-around; */
}

.icon {
  position: relative;
  background: #d4d4d4c7;
  border-radius: 50%;
  padding: 5px;
  margin: 15px;
  width: 50px;
  height: 50px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 7px 7px #0000007e;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #050505;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #000000;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  transition: 0.5s;
  background: #1877f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  transition: 0.5s;
  background: #ff0a37;
  color: #ffffff;
}
.wrapper .map:hover,
.wrapper .map:hover .tooltip,
.wrapper .map:hover .tooltip::before {
  transition: 0.5s;
  background: #dd4b3e;
  color: #ffffff;
}
.wrapper .whatApp:hover,
.wrapper .whatApp:hover .tooltip,
.wrapper .whatApp:hover .tooltip::before {
  transition: 0.5s;
  background: #285430;
  color: #ffffff;
}
.wrapper .zomato:hover,
.wrapper .zomato:hover .tooltip,
.wrapper .zomato:hover .tooltip::before {
  transition: 0.5s;
  background: #fa2626de;
  color: #ffffff;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #02434b;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}
.contact .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
}

@media (max-width: 600px) {
  .icon_contact {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .icon {
    margin: 10px;
    width: 35px;
    height: 35px;
    font-size: 25px;
  }
  #contact h2 {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  #contact h2 {
    width: auto;
  }
  .icon {
    margin: 5px;
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}
