.container {
  display: flex;
  flex-flow: row nowrap;
  width: 95%;
  height: 95%;
  max-width: auto;
  max-height: auto;
  min-height: 100px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: white;
}

.top-bar {
  height: 0.5em;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.scroll {
  height: 0.1em;
  width: 0%;
  background: #f44645;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15), 2px 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  top: -0.5em;
}
