.container {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 500px;
    min-height: 400px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: white;
}