.container {
  display: flex;
  flex-flow: row nowrap;
  width: 95%;
  height: 90%;
  max-width: auto;
  max-height: auto;
  min-height: 100px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: white;
}
