@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

.main__title,
.csb-logo {
  font-family: 'Moon Dance', cursive;
}

#app {
  display: flex;
  width: auto;
  height: 93.95vh;
  min-height: fit-content;

  justify-content: center;
  align-items: center;
  /* background: #ff9966; */
  /* background-image: url('https://cdn.dribbble.com/users/1870665/screenshots/18385768/media/9ab1ad8c7dac2454052e6456128f5301.png?compress=1&resize=1600x1200&vertical=top'); */
  background: linear-gradient(to right, #ff5e62, #ff9966);
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.csb-logo {
  width: 60px;
  height: 60px;
}

.c-font {
  color: #357c3c;
}

.b-font {
  color: #ff6464;
}

.branch-csb {
  padding-left: 5px;
  font-weight: bold;
  padding-top: 10px;
  color: #674747;
  font-size: 15px;
}
