.main__title {
  text-align: center;
}

#app {
  display: flex;
  width: auto;
  height: 93.8vh;

  justify-content: center;
  align-items: center;
  background: #ff9966; /* fallback */
  background: linear-gradient(to right, #ff5e62, #ff9966);
}

